<style>
:root {
  --width: 720px;
  --font-main: InterDisplay, sans-serif;
  --font-secondary: Inter, sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
  --font-scale: 1em;
  --background-color: #fff;
  --heading-color: #222;
  --text-color: #444;
  --link-color: #3273dc;
  --blockquote-color: #222;
}
body {
  font-family: var(--font-secondary);
  font-size: var(--font-scale);
  margin: auto;
  padding: 20px;
  max-width: var(--width);
  text-align: left;
  background-color: var(--background-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.4;
  color: var(--text-color);
  font-feature-settings: "liga" 1, "calt" 1;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-main);
  line-height: 1;
  margin-bottom: 0.4em;
  color: var(--heading-color);
}
a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
nav a {
  margin-right: 8px;
}
strong, b {
  color: var(--heading-color);
}
button {
  margin: 0;
  cursor: pointer;
}
time {
  font-family: var(--font-mono);
  font-style: normal;
  font-size: 15px;
}
main {
  line-height: 1.5;
}
table {
  width: 100%;
}
hr {
  border: 0;
  border-top: 1px dashed;
}
img {
  max-width: 100%;
}
code {
  font-family: var(--font-mono);
  padding: 2px;
  border-radius: 3px;
}
blockquote {
  border-left: 1px solid #999;
  color: var(--blockquote-color);
  padding-left: 20px;
  font-style: italic;
}
footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 40px;
  color: #999;
  font-size: 0.85em;
  letter-spacing: 0.05em;
  padding: 25px 0;
  text-align: center;
}
.title:hover {
  text-decoration: none;
}
.title h1 {
  font-size: 1.5em;
}
.inline {
  width: auto !important;
}
.highlight, .code {
  border-radius: 3px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  overflow-x: auto;
}
.highlight pre, .code pre {
  min-width: 100%;
  width: max-content;
}
ul.blog-posts {
  list-style-type: none;
  padding: unset;
}
ul.blog-posts li {
  display: flex;
}
ul.blog-posts li span {
  flex: 0 0 130px;
}
h1 + p, h2 + p, h3 + p, h4 + p {
  margin-top: 0;
  margin-bottom: 0.6em;
}
</style>
